<h2>Control Flow</h2>
<h3>IF</h3>
 
<!--NOVA FORMA -->
<!--@if (isTrue){
<p>leandro1 </p>
<p>Braga 1 </p>
} @else {Nao esta correto}

Forma antiga 
<ng-container *ngif="isTrue; else isFalce">
    <p>leandro 2</p>
    <p>Braga 2</p>
</ng-container>
<ng-template #isFalse> Nao esta correto </ng-template>
-->

<H3>IF, FOR</H3>

<!--Nova forma -->
<!--@if(loadingData$ | async; as data){
<ul>
    @for(item of data; track item){
    <li>{{ item }}</li>
    }
</ul>
} @else {
<p> Carregando...</p>
}
@for(item of loadingData | async; track item){
<li> {{ item }} </li>
}-->

<br>
<!-- Forma nova -->
@for(
item of itens; track item.name;
let i = $index;
let c = $count;
let f = $first;
let l = $last;
let e = $even;
let o = $odd;
){
<p>{{ item.name }}</p>
<p>index - {{ i }}</p>
<p>count - {{ c }}</p>
<p>first - {{ f }}</p>
<p>last - {{ l }}</p>
<p>even - {{ e }}</p>
<p>odd - {{ o }}</p>
}

<br>
 Forma antiga
<ng-container *ngFor="
let item of itens;
    let i = index;
    let c = count;
    let f = first;
    let l = last;
    let e = even;
    let o = odd;
    trackBy: trackByFn
    ">
    <p>{{ item.name }}</p>
    <p>index - {{ i }}</p>
    <p>count - {{ c }}</p>
    <p>first - {{ f }}</p>
    <p>last - {{ l }}</p>
    <p>even - {{ e }}</p>
    <p>odd - {{ o }}</p>
</ng-container>

<input #name type="text">
<button (click)="addNewName(name.value)">Add Name</button>


