<header>
    <img src="assets/img/leandro.jpg" alt="Leandro Vilar - Foto de Perfil" width="130px" height="130px"
        loading="eager" />
    <h1>Leandro Vilar</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack Javascript | Angular | NodeJs | NestJs</p>
        <P>Brasilia, Distrito Federal, Brasil</P>
        <p>
            Estou na área de desenvolvimento de software menos de 1 anos. Devido isso resolvi abraçar o Frontend como
            início na programação.
        </p>
        <Nav>
            <UL>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/leandrovilar/" rel=noopener target="_blank"
                        class="btn btn-secundary">
                        LinkedIn
                    </a>
                </li>
            </UL>
        </Nav>
        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="Ícone para contato do whatsapp" width="22px" height="24px" />
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5561993423264&text=Ol%C3%A1%20Leandro,%20preciso%20de%20um%20job!"
                        target="_blank" rel="noopener">
                        <strong>Envie uma menssagem para: </strong>
                        <p>whatsapp: (61) 99342-3264</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="assets/icons/mail.svg" alt="Ícone para o email" width="22px" height="24px" />
                <figcaption>
                    <a href="mailto:leandrovilar@gmail.com"
                        target="_blank" rel="noopener">
                        <strong>Envie um email para: </strong>
                        <p>leandrovilar&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>