<div class="container" *ngIf="weatherDatasInput">
  <div class="upper-data">
    <img src="../../../../../assets/sun.jpg" *ngIf="weatherDatasInput.main.temp > 15" />

    <img src="../../../../../assets/cold1.jpg" *ngIf="weatherDatasInput.main.temp <= 15" />


    <div class="weather-data">
      <div class="location">{{ weatherDatasInput.name }}</div>
      <div class="temperature">
        {{ weatherDatasInput.main.temp | number : "1.0-0"}}ºc
      </div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">Mais informações</div>
    <div class="more-infor-container">
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="minTemperatureIcon"></fa-icon>
          <span>Minima</span>
          <div class="infor-block-value">
            {{ weatherDatasInput.main.temp_min}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
